/* Styling an element */
p {
    font-size: 18px;
}
h1 {
    background-color: lightgray;
}

h2{
    color:blue;
}

/* Styling a classes */
.Background, .Career, .Past,.Reasons,.Hobbies, .Conclusion {
    background-color: lightgray;
    font-weight: bold;
}

/* Styling an ID */
#main-heading {
    color: blue;
    text-align: center;
    font-size: 40px;
}

